{% extends './base.html.twig' %}
{% block body %}
<h2 class="text-center my-3">Peliculas</h2>
<div class="d-flex flex-wrap justify-content-center m-auto">
    {% for pelicula in peliculas %}
        <div class="card m-1 text-center" style="width: 18rem;">
            <h5 class="card-title mt-1">{{pelicula.nombre}}</h5>
            <img class="img-fluid h-75" src="{{pelicula.imagen}}" alt="{{pelicula.nombre}}">
            <div class="card-body">
                <p>Estreno: {{pelicula.fechaEstreno|date("d/m/Y")}}</p>
                <p>Duración: {{pelicula.duracion}} min.</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
